In [1]:
from dataclasses import dataclass, fields
from datetime import datetime

@dataclass
class A:
    id: int
    name: str = "hello"

a = A(id=1)
for field in fields(a):
    print(field.default)

<dataclasses._MISSING_TYPE object at 0x78f53d144d10>
hello

In [2]:
def generate_project_slug(project_name: str) -> str:
    options = [ project_name[:i].upper() for i in range(min(len(project_name), 3), len(project_name) + 1) ]
    return options

In [3]:
generate_project_slug(project_name="unsaver")

['UNS', 'UNSA', 'UNSAV', 'UNSAVE', 'UNSAVER']

In [6]:
import pandas as pd

df = pd.DataFrame({"a": [1, 2, 3]})

In [8]:
df.rename(columns={"a": "b"}, inplace=True)
df

   b
0  1
1  2
2  3